/EVE.ISXEVE.5.1.ReSharper.user
/EVE.ISXEVE.suo
ISXEVEProfiler/bin
ISXEVEProfiler/obj
ISXEVEWrapperTest/*.user
ISXEVEWrapperTest/bin
ISXEVEWrapperTest/obj
/Lavish.InnerSpace.dll
/Lavish.LavishNav.dll
/Lavish.LavishVMRuntime.dll
/_ReSharper.EVE.ISXEVE
/bin
/obj
