* text=auto !eol
/ActiveDrone.cs -text
/Agent.cs -text
/AgentMission.cs -text
/Attack.cs -text
/Attacker.cs -text
/Being.cs -text
/BookMark.cs -text
/CharSelect.cs -text
/Character.cs -text
/DialogString.cs -text
/EVE.ISXEVE.csproj -text
/EVE.ISXEVE.sln -text
/EVE.ISXEVE.snk -text
/EVE.cs -text
/EVETime.cs -text
/EVEWindow.cs -text
/Entity.cs -text
/Event.cs -text
/ExecuteCommand.cs -text
/Extension.cs -text
/Fleet.cs -text
/FleetMember.cs -text
/ISXEVE.cs -text
ISXEVEProfiler/Extensions.cs -text
ISXEVEProfiler/Program.cs -text
ISXEVEProfiler/Properties/AssemblyInfo.cs -text
ISXEVEProfiler/app.config -text
ISXEVEProfiler/isxProfiler.csproj -text
ISXEVEWrapperTest/Form1.Designer.cs -text
ISXEVEWrapperTest/Form1.cs -text
ISXEVEWrapperTest/Form1.resx -text
ISXEVEWrapperTest/ISXEVEWrapperTest.csproj -text
ISXEVEWrapperTest/Program.cs -text
ISXEVEWrapperTest/Properties/AssemblyInfo.cs -text
ISXEVEWrapperTest/Properties/Resources.Designer.cs -text
ISXEVEWrapperTest/Properties/Resources.resx -text
ISXEVEWrapperTest/Properties/Settings.Designer.cs -text
ISXEVEWrapperTest/Properties/Settings.settings -text
ISXEVEWrapperTest/app.config -text
ISXEVEWrapperTest/rundotnet.iss -text
ISXEVEWrapperTest/wraptest.iss -text
/Interstellar.cs -text
/Item.cs -text
/Jammer.cs -text
/Login.cs -text
/MarketOrder.cs -text
/Module.cs -text
/MyOrder.cs -text
/Pilot.cs -text
/PostBuild.bat -text
/PreBuild.bat -text
Properties/AssemblyInfo.cs -text
/Ship.cs -text
/Skill.cs -text
/SlotType.cs -text
/Standings.cs -text
/Station.cs -text
/Universe.cs -text
/Util.cs -text
/app.config -text
